* {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  margin: auto;
  display: flex;
}

.game-board {
  align-self: center;
  margin-right: 30px;
}

.game-info {
  margin: 0;
}

.board-row {
  display: flex;
  margin: 0;
  padding: 0;
}

.square {
  padding: 0;
  background: transparent;
  width: 50px;
  height: 50px;
}

.users {
  list-style-type: none;
  padding: 0;
}

.user {
  margin: 8px;
  display: flex;

  &__age {
    font-weight: 700;
    opacity: 0.5;
    margin-left: auto;
  }
}

.filter {
  display: flex;
  height: 32px;

  &__input {
    flex: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 3px solid #ff7f50;
    border-left: none;
    padding: 8px;
    font-size: 24px;
    outline: none;
  }

  &__count {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 3px solid #ff7f50;
    border-right: none;
    width: 40px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background: #ff7f50;
    color: #fff;
  }
}
